<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Productos', stylesheet: "/css/products.css"}) %>
<body>
<!-- Include Header -->
<%- include ('../partials/header.ejs') %>
  <main>
    <div class="main-contenedor">
      <% for (category of categories) {%>
        <div class="div-separadores">
          <p class="separadores"><%= category.category_name %></p>
        </div>
        <div class="product-box">
          <% for (product of products) {%>
            <% if (product.category_id == category.id) { 	%>
              <div class="main-categorias">
                <div class="category">
                  <a href="/products/<%= product.id %>/productDetail/"><img src="/images/products/<%= product.image %>" alt="imagen de producto"></a>
                </div>

              </div>
            <% } %>
            
          <% } %>
        </div>
        
      <% } %>
      
    </div>
  </main>
  <!-- Include Footer -->
  <%- include ('../partials/footer.ejs') %>
</body>
</html>