<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/79191db9a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/homestyle.css">
    <title>Casa Digital</title>
</head>
<body>
<%- include ('./partials/header.ejs') %>
  <main>
    <div class="main-contenedor">
    <div class="carrousel">
      <img src="/images/products/sale2.jpg" class="sale">
    </div>
    <div class="main-categorias">
      <div class="category">
        <a href="/products/Desarrollo"><img src="/images/products/desarrollo.jpg" alt=""></a>        
      </div>
      <div class="category">
        <a href="/products/Fotografia"><img src="/images/products/fotografia.jpg" alt=""></a>        
      </div>
      <div class="category">
        <a href="/products/Finanzas"><img src="/images/products/finanzas.jpg" alt=""></a>        
      </div>
      <div class="category">
        <a href="/products/Personal"><img src="/images/products/personal.jpg" alt=""></a>        
      </div>    
    </div>
    <div class="div-separadores">
      <p class="separadores">NOVEDADES EN LA CASA DIGITAL</p>
    </div>
    <div class="main-categorias">
      <% let counter = 0 %>
      <% for (product of products) {%>
        <% let hoy = new Date() %>
        <% if (parseInt((hoy - Date.parse(product.creation_date))/(24*3600*1000)) < 30 && counter < 4) { 	%>
          <div class="category">
            <a href="/products/<%= product.id %>/productDetail"><img src="/images/products/<%= product.image %>" alt="Imagen del curso"></a>
          </div>
          
        <% counter++ } %>
      <% } %>
    </div>
    <div class="div-separadores">
      <p class="separadores">LO MAS VENDIDO</p>
    </div>
    <div class="main-categorias">
      <% for (product of products) {%>
        <% if (product.top_seller) { 	%>
          <div class="category">
            <a href="/products/<%= product.id %>/productDetail"><img src="/images/products/<%= product.image %>" alt="Imagen del curso"></a>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="div-separadores">
      <p class="separadores">COMUNIDAD</p>
    </div>
    <div class="main-categorias">
      <div class="category">
        <a href="/products/community/Javier Gómez"><img src="/images/Comunity_01.jpg" alt=""></a>
      </div>
      <div class="category">
        <a href="/products/community/Juan Gabriel Gomila Salas"><img src="/images/Comunity_02.jpg" alt=""></a>
      </div>
      <div class="category">
        <a href="/products/community/Fabián Schwartz"><img src="/images/Comunity_03.jpg" alt=""></a>
      </div>
      <div class="category">
        <a href="/products/community/Diego López"><img src="/images/Comunity_04.jpg" alt=""></a>
      </div>   
    </div>
  </div>
  </main>
  <%- include ('./partials/footer.ejs') %>
</body>
</html>