<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0faaad1c63.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    
    <title>Perfil</title>
    
    
</head>
<body>
  <%- include ('../partials/header.ejs') %>
 <main class="main-style">       
    <h2 class="fantasy-frase">Aprende con los mejores prefesionales y forma parte de la mayor comunidad para creativos</h2>
    <div class="diferent-logins">
      <div class="facebook-inic"><a href="#" class="link"><i class="fab fa-facebook"></i>Registrarte con Facebook </a></div>
      <div class="google-log"><a href="#" class="link"><i class="fab fa-google"></i>Registrarte con Google</a></div>
  </div>
    <div class="body-format">o registrate con tu email</div>
    
    
    
    <form action="/users" method="POST" enctype="multipart/form-data">
            <div class="main-forms-container">
                <div>    
                    <% if (locals.userToLogin) { %>
                        <p>Nombre: <%= userToLogin.first_name %> </p>
                    <% } %>
                </div>

                <div>    
                    <% if (locals.userToLogin) { %>
                        <p>Nombre: <%= userToLogin.last_name %> </p>
                    <% } %>
                </div>

                <div>    
                    <% if (locals.userToLogin) { %>
                        <p>Nombre: <%= userToLogin.email %> </p>
                    <% } %>
                </div>
                
                <div>
                    <img src="/images/users/<%= userToLogin.image %>" alt="Imagen del Usuario">
                </div>
                
            </div>
           
        </form>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>