<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Casa Digital', stylesheet: "/css/userProfile.css"}) %>
<body>
<!-- Include Header -->
<%- include ('../partials/header.ejs') %>
  <main class="main-style">
        <h2 class="titulo">Bienvenido a tu perfil</h2>
        
        <% if (locals.userLogged != undefined) { %>

            <div class="main-form-container">
                <div class="col-izquierda">
                    <img class="user-img" src="/images/users/<%= locals.userLogged.image %>" alt="Imagen del Usuario">
                </div>
                <div class="col-der">
                    <div>
                        <p>Nombre: <%= locals.userLogged.first_name %> <%= locals.userLogged.last_name %></p>
                        <br>
                        <p>email: <%= locals.userLogged.email %> </p>
                    </div> 
                    <form class="logout-form" action="/users/logout" method="POST">
                        <button type="submit" class="lo-button">Log out</button>
                    </form>
                </div>
            </div>
            
        <% } else { %>        
            <div>
                <p>No estás loggeado</p>
            </div>
        <% } %>
        
    </main>
  <!-- Include Footer -->  
  <%- include ('../partials/footer.ejs') %>
</body>
</html>